@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,500;0,600;1,300;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}


/* NAV BAR */
.navbar {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 20px black;
    padding: 10px 0;
    align-items: center;
    gap: 20px;
    padding-right: 35px;
    
}

.logo{
    display: flex;
    gap: 10px;
    padding-left: 70px;
}
.logo img{
    width: 40px;
}
.logo a{
    padding-top: 10px;
    font-size: 30px;
    color: blue;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    
}

.nav-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nav-items a{
    text-decoration: none;
    cursor: pointer;
    transition: all 0.7s ease;
    font-size: 20px;
    color: black;
    
}
.nav-items a:hover{
    color: orange;
}


/* HERO SECTION */
.hero-section {
    background-image: url("./images/hero/hero.png");
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-text {
    margin: 30px 0;
    font-size: 30px;
    font-weight: bold;
}
.hero-feature {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #2947A9;
    height: 150px;
    width: 300px;
    border-radius: 3px;
    height:200px;
    width: 450px;
    
}
.hero-feature h3 {
    color: white;
}
.hero-feature p {
    color: white;
   
}
.hero-feature-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2px;
    background-color: white;
    height:40px;
    margin-bottom: -20px;
    
}
.hero-feature-btn button {
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    padding: 6px 0;
    background-color: black;
    border: none;
    color: white;
    height:35px;
    
}

.parah{
    font-size: 25px;
}

/* Reason Section */
.reason-section{
    display: flex;
    flex-direction: column;
    height: 650px;
    align-items: center;
    justify-content: space-evenly;
   
}
.reason-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
}

.reason-cards div{
    border: 2px solid rgb(226, 224, 224);
    height: 150px;
    width: 100%;
    padding: 10px;
    box-shadow: 3px 3px 3px rgb(221, 219, 219);
    text-align: left;
}
.ourrepu{
    font-size: 40px;
}

/* About Section */
.aboutus-section {
    display: flex;
    justify-content: center;
    height: 60vh;
    left: 40%;
    transform: translateX(-50%);
    aspect-ratio: 7/5;
    position: relative;
    background-image: url("./images/aboutus/person.png");
    background-size: cover;
    
}


.about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    aspect-ratio: 5/6;
    height: 80%;
    top: 70vh;
    left: 20vw;
    transform: translateY(-50%);
    background-color: #2947A9;
    color: white;
    border-radius: 4px;
    padding: 4vw;
    right: -40%;
}
.about-text h2{
    font-size: 16px;
}
.about-text p{
    font-size: 12px;
}
.about-text button {
    font-size: 15px;
    height: 40px;
    width: 220px;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.6s ease-out;
}
.about-text button:hover {
    background-color: rgb(226, 218, 218);
    color: black;
    font-size: 16px;
} 


/* SERVICES SECTION */
.service-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 400px;
    height: 160vh;
    width: 100vw;
    background-color: rgb(241, 238, 238);
    }
.service-cards {
    height: 140vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
.service-cards div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    width: 50vw;
    border-radius: 4px;
    box-shadow: 3px 3px 10px rgb(179, 174, 174);
    justify-content: center;
    transition: all 0.5s ease-out;
}
.service-cards div:hover{
    height: 21vh;
    width: 51vh;
}
#construction-card {
    background-color: white;
    color: #2947A9;
}

#renovation-card {
    background-color: #2947A9;
    color: white;
}
#consultation-card {
    background-color: white;
    color: #2947A9;
}
#repair-service-card {
    background-color: #2947A9;
    color: white;
}
#architecture-card {
    background-color: white;
    color: #2947A9;
}
#electric-card {
    background-color: #2947A9;
    color: white;  
}

/* STATS SECTION */

.stats {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 723px;
    background-color: #ffffff;
    height: 150vh;
    gap: 20vh;
  }
  .overlap-group {
    position: relative;
    width: 641px;
    height: 563px;
    top: 103px;
    left: 179px;
  }
  .text-wrapper-11 {
    position: relative;
    width: 238px;
    margin-top: -1px;
    font-weight: 400;
    color: var(--neutral-500);
    font-size: 24px;
    font-family: "Work Sans", Helvetica;
    letter-spacing: 0;
    line-height: normal;
  }
  
  
   .stats-2 {
    display: flex;
    width: 361px;
    top: 118px;
    left: 33px;
    border-color: var(--neutralwhite);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
    padding: 30px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid;
    box-shadow: var(--shadow-2);
  }
  
   .img123 {
    position: relative;
    width: 115px;
    height: 65px;
    margin-top: -1px;
    font-family: var(--heading-1-font-family);
    font-weight: var(--heading-1-font-weight);
    color: var(--neutral-800);
    font-size: var(--heading-1-font-size);
    text-align: center;
    letter-spacing: var(--heading-1-letter-spacing);
    line-height: var(--heading-1-line-height);
    white-space: nowrap;
    font-style: var(--heading-1-font-style);
  }
  
  .frame {
    display: flex;
    width: 273px;
    align-items: center;
    gap: 12px;
    padding: 0px 0px 0px 16px;
    position: relative;
    flex: 0 0 auto;
border-left: 5px solid orange;
  }
  
   .rectangle-2 {
    position: relative;
    align-self: stretch;
    width: 7px;
    background-color: var(--secondary);
  }
  
.awardwin {
    position: relative;
    width: 238px;
    margin-top: -1px;
    font-weight: 400;
    color: var(--neutral-500);
    font-size: 24px;
    font-family: "Work Sans", Helvetica;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .stats-3 {
    display: flex;
    width: 280px;
    top: 19px;
    left: 333px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
    padding: 30px;
    position: absolute;
    background-color: var(--neutralwhite);
    border-radius: 4px;
    border: 1px solid;
    box-shadow: var(--shadow-2);
    border-color: var(--neutralwhite);
  }
  .element {
    position: relative;
    width: 115px;
    height: 65px;
    margin-top: -1px;
    font-weight: bold;
    color: var(--neutral-800);
    font-size: 40px;
    
  }
  
   .frame-2 {
    margin-right: -53px;
    display: flex;
    width: 273px;
    align-items: center;
    gap: 12px;
    padding: 0px 0px 0px 16px;
    position: relative;
    flex: 0 0 auto;
    border-left: 5px solid orange;
  }
  
  .stats-4 {
    display: inline-flex;
    top: 366px;
    left: 82px;
    border-color: var(--neutralwhite);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
    padding: 30px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid;
    box-shadow: var(--shadow-2);
  }
.stats-5 {
    display: flex;
    width: 276px;
    top: 261px;
    left: 279px;
    border-color: var(--neutralwhite);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
    padding: 30px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid;
    box-shadow: var(--shadow-2);
  }
  
   .frame-3 {
    margin-right: -57px;
    display: flex;
    width: 273px;
    align-items: center;
    gap: 12px;
    padding: 0px 0px 0px 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
   .illus {
    position: absolute;
    width: 79px;
    height: 79px;
    top: 69px;
    left: 0;
    object-fit: cover;
  }
  
   .illus-2 {
    width: 84px;
    height: 84px;
    top: 479px;
    left: 370px;
    position: absolute;
    object-fit: cover;
  }
  
  .illus-3 {
    width: 93px;
    height: 93px;
    top: 246px;
    left: 483px;
    position: absolute;
    object-fit: cover;
  }
  
  .illus-4 {
    width: 97px;
    height: 97px;
    top: 0;
    left: 544px;
    position: absolute;
    object-fit: cover;
  }
  .stats-right{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .text-wrapper-12 {
    /* position: absolute; */
    width: 359px;
    top: 171px;
    left: 944px;
    font-family: sans-serif;
    font-weight: bold;
    color: blue;
    font-size: 40px;;
 
  }
  
 .compconst {
    /* position: absolute; */
    width: 330px;
    top: 351px;
    left: 944px;
    font-family: sans-serif;
    color: gray;
    font-size: 20px;
    
  }
  
.button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 176px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 20px;
    /* position: absolute; */
    top: 493px;
    left: 944px;
    border-radius: 2px;
    background-color: BLUE;
  }

/* ADS SECTION */
.ads-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-size: cover;
    row-gap: 10vh;
    background-image: url(./images/ads/bck.png);
}
.ads-section h2 {
    color: white;
}
.ads-section div p{
    font-weight: 300;
    color: white;
}
.ads-section button {
    padding: 10px;
    background: transparent;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    transition: all 0.5s ease-out;
}
.ads-section button:hover{
    font-size: 14px;
}

/*projects section*/
.projects {
    position: relative;
    width: 1440px;
    height: 1098px;
    background-color: #ffffff;
  }
  .projectssec {
    position: absolute;
    top: 87px;
    left: 130px;
    font-weight: bold;
    color: black;
    font-size: 30px;
    white-space: nowrap;
    
  }
  .menu-item {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 170px;
    left: 112px;
  }
  
  .rectangle-3 {
    position: relative;
    width: 4px;
    height: 28px;
    background-color: var(--primary);
  }
  
   .text-wrapper-18 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Work Sans", Helvetica;
    font-weight: 700;
    color: var(--primary);
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .menu-item-2 {
    top: 218px;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    left: 112px;
  }

  .rectangle-4 {
    position: relative;
    width: 4px;
    height: 28px;
  }

  .all {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Work Sans", Helvetica;
    font-weight: 500;
    color: var(--neutral-200);
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    
  }
  
 .menu-item-3 {
    top: 266px;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    left: 112px;
  }
  
    .menu-item-4 {
    top: 314px;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    left: 112px;
  }
  
.project-card {
    display: flex;
    flex-direction: column;
    width: 384px;
    align-items: flex-start;
    position: absolute;
    top: 170px;
    left: 528px;
    border-radius: 2px;
  }
  
.img-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 247px;
    object-fit: cover;
  }
  
 .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    padding: 12px 12px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #2947A9;
  }
  
 .PJ-name {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Work Sans", Helvetica;
    font-weight: 700;
    color: var(--neutralwhite);
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.address {
    position: relative;
    width: fit-content;
    font-family: var(--body-default-font-family);
    font-weight: var(--body-default-font-weight);
    color: var(--neutralwhite);
    font-size: var(--body-default-font-size);
    letter-spacing: var(--body-default-letter-spacing);
    line-height: var(--body-default-line-height);
    white-space: nowrap;
    font-style: var(--body-default-font-style);
  }
  
 .project-card-2 {
    top: 533px;
    left: 528px;
    display: flex;
    flex-direction: column;
    width: 384px;
    align-items: flex-start;
    position: absolute;
    border-radius: 2px;
  }
  
 .project-card-3 {
    top: 170px;
    left: 944px;
    display: flex;
    flex-direction: column;
    width: 384px;
    align-items: flex-start;
    position: absolute;
    border-radius: 2px;
  }
.project-card-4 {
    top: 533px;
    left: 944px;
    display: flex;
    flex-direction: column;
    width: 384px;
    align-items: flex-start;
    position: absolute;
    border-radius: 2px;
  }
  .navigation {
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 896px;
    left: 528px;
  }
.backbut,.nxtbut{
    background-color:gray;
height:50px;
width:200px;
cursor:pointer;}


/* CTA SECTION BEGIN */
.cta-section {
    background-color: #F6F8F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
}
.cta-section p{
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}
.cta-section div{
    height: 40vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
}
.cta-section div input, textarea {
    background-color: white;
    border: 1px solid gainsboro;
    font-size: 16px;
    padding: 4px 0;
    padding-left: 4px;
    margin: 7px;
}
.cta-section button {
    /* width: 150px;
    height: 40px; */
    font-size: 20px;
    background-color: #2947A9;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.cta-section button:hover {
    background-color: #5e80f0;
}

#your-name,#your-email,#reason,#phone,#message{
    padding-left: 15px;;
}

.submitbutt{
    border-radius: 30px;
    padding: 1rem 2rem;
    color:#2947A9;
    display: flex;
    align-items: center;
}


/* BOTTOM SECTION */
.bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: space-around;
}
.bottom-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 20vh;
    width: 60vw;
}
.bottom-left .bottom-logo {
    display: flex;
}
.bottom-logo h2 {
    padding-left: 10px;
    padding-top: 10px;
    color: #2947A9;
}
.bottom-left span {
    color:#2947A9;
}
.bottom-right {
    height: 20vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.bottom-right p {
    margin-bottom: 15px;
    color:#2947A9;
}
.bottom-newsletter input {
    height: 40px;
    width: 20vw;
    font-size: 14px;
}
.bottom-newsletter  button {
    height: 40px;
    width: 13vw;
    border-radius: 3px;
    font-size: 15px;
    border: none;
    transition: all 0.5s ease-out;
}
.bottom-newsletter button:hover {
    background-color: orange;
    color: white;
    font: bold;
    cursor: pointer;
}
#emailhere{
    padding-left: 15px;;
}

/* FOOTER SECTION */
.footer-section {
    height: 8vh;
    width: 100%;
    background-color: #2947A9;
}
.footer-section p {
    padding-top: 12px;
    margin-left: 10vw;
    color: white;
    font-weight: 400;
}



/*==============================================================================================================================================================*/
@media (min-width: 760px){
    /* NAV BAR */
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
    .logo{
        margin-left: 20px;
        gap: 20px;
        justify-content: baseline;
    }
    .nav-items {
        flex-direction: row;
        margin-right: 20px;
        gap: 20px;
    }

    /* HERO SECTION */
    .hero-section {
        flex-direction: row;
        justify-content: space-around;
    }
    .hero-text{
        font-size: 40px;
        left: 10px;
    }
    .hero-feature {
        align-self: end;
    }
    
    /* REASON SECTION */
    .reason-section{
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    .reason-cards {
        height: 200px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:50px;
    }
    .reason-cards div{
        border: 2px solid rgb(226, 224, 224);
        height: 170px;
        width: 260px;
        padding: 10px;
        box-shadow: 3px 3px 3px rgb(221, 219, 219);
        text-align: left;
    }

    /* ABOUT US SECTON */
    .about-text {
        position: absolute;
        aspect-ratio: 5/6;
        height: 80%;
        top: 30vh;
        left: 80%;
        transform: translateY(-50%);
        background-color: #2947A9;
        color: white;
        padding: 4vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        right: -40%;
        border-radius: 4px;
    }
    .aboutus-section{
        background-image: url(./images/aboutus/person.png);
    }
    .histbutt
    {
        width:30px;
        border:none;
    }
   
    /* SERVICE SECTION */
    .service-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 120px;
        height: 80vh;
        width: 100vw;
        background-color: rgb(241, 238, 238);
    }
    .service-cards div{
        width: 25vw;
    }
    .service-cards {
        flex-wrap: wrap;
        padding: 0 3vw;
        justify-content: space-evenly;
        height: 60vh;
        width: 100vw;
        display: flex;
        row-gap: 4vh;
    }
     /* STATS SECTION*/
     .stats {
        position: relative;
        width: 1440px;
        height: 723px;
        background-color: #ffffff;
      }
      .overlap-group {
        position: absolute;
        width: 641px;
        height: 563px;
        top: 103px;
        left: 179px;
      }
      .text-wrapper-11 {
        position: relative;
        width: 238px;
        margin-top: -1px;
        font-weight: 400;
        color: var(--neutral-500);
        font-size: 24px;
        font-family: "Work Sans", Helvetica;
        letter-spacing: 0;
        line-height: normal;
      }
      
      
       .stats-2 {
        display: flex;
        width: 361px;
        top: 118px;
        left: 33px;
        border-color: var(--neutralwhite);
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2px;
        padding: 30px;
        position: absolute;
        background-color: #ffffff;
        border-radius: 4px;
        border: 1px solid;
        box-shadow: var(--shadow-2);
      }
      
       .img123 {
        position: relative;
        width: 115px;
        height: 65px;
        margin-top: -1px;
        font-family: var(--heading-1-font-family);
        font-weight: var(--heading-1-font-weight);
        color: var(--neutral-800);
        font-size: var(--heading-1-font-size);
        text-align: center;
        letter-spacing: var(--heading-1-letter-spacing);
        line-height: var(--heading-1-line-height);
        white-space: nowrap;
        font-style: var(--heading-1-font-style);
      }
      
      .frame {
        display: flex;
        width: 273px;
        align-items: center;
        gap: 12px;
        padding: 0px 0px 0px 16px;
        position: relative;
        flex: 0 0 auto;
      }
      
       .rectangle-2 {
        position: relative;
        align-self: stretch;
        width: 7px;
        background-color: var(--secondary);
      }
      
    .awardwin {
        position: relative;
        width: 238px;
        margin-top: -1px;
        font-weight: 400;
        color: var(--neutral-500);
        font-size: 24px;
        font-family: "Work Sans", Helvetica;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .stats-3 {
        display: flex;
        width: 280px;
        top: 19px;
        left: 333px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2px;
        padding: 30px;
        position: absolute;
        background-color: var(--neutralwhite);
        border-radius: 4px;
        border: 1px solid;
        box-shadow: var(--shadow-2);
        border-color: var(--neutralwhite);
      }
      .element {
        position: relative;
        width: 115px;
        height: 65px;
        margin-top: -1px;
        font-weight: bold;
        color: var(--neutral-800);
        font-size: 40px;
        
      }
      
       .frame-2 {
        margin-right: -53px;
        display: flex;
        width: 273px;
        align-items: center;
        gap: 12px;
        padding: 0px 0px 0px 16px;
        position: relative;
        flex: 0 0 auto;
      }
      
      .stats-4 {
        display: inline-flex;
        top: 366px;
        left: 82px;
        border-color: var(--neutralwhite);
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2px;
        padding: 30px;
        position: absolute;
        background-color: #ffffff;
        border-radius: 4px;
        border: 1px solid;
        box-shadow: var(--shadow-2);
      }
    .stats-5 {
        display: flex;
        width: 276px;
        top: 261px;
        left: 279px;
        border-color: var(--neutralwhite);
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2px;
        padding: 30px;
        position: absolute;
        background-color: #ffffff;
        border-radius: 4px;
        border: 1px solid;
        box-shadow: var(--shadow-2);
      }
      .stats-2, .stats-3, .stats-4, .stats-5{
        background: #fff;
        border: none;
        box-shadow: 1px 0 1px 0px #000a, 0px 1px 1px 0 #000a;
      }
       .frame-3 {
        margin-right: -57px;
        display: flex;
        width: 273px;
        align-items: center;
        gap: 12px;
        padding: 0px 0px 0px 16px;
        position: relative;
        flex: 0 0 auto;
        border-left: 5px solid orange;
      }
      
       .illus {
        position: absolute;
        width: 79px;
        height: 79px;
        top: 69px;
        left: 0;
        object-fit: cover;
      }
      
       .illus-2 {
        width: 84px;
        height: 84px;
        top: 479px;
        left: 370px;
        position: absolute;
        object-fit: cover;
      }
      
      .illus-3 {
        width: 93px;
        height: 93px;
        top: 246px;
        left: 483px;
        position: absolute;
        object-fit: cover;
      }
      
      .illus-4 {
        width: 97px;
        height: 97px;
        top: 0;
        left: 544px;
        position: absolute;
        object-fit: cover;
      }
    
      .text-wrapper-12 {
        position: absolute;
        width: 359px;
        top: 200px;
        left: 944px;
        font-family: sans-serif;
        font-weight: bold;
        color: #2947A9;
        font-size: 40px;;
     
      }
      
     .compconst {
        position: absolute;
        width: 330px;
        top: 320px;
        left: 944px;
        font-family: sans-serif;
        color: #292E3D;
        font-size: 20px;
        
      }
      
    .button {
        all: unset;
        box-sizing: border-box;
        display: flex;
        width: 176px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 16px 20px;
        position: absolute;
        top: 455px;
        left: 944px;
        border-radius: 2px;
        background-color: #2947A9;
      }
      .learn-more{
        color: white;
        cursor: pointer;
      }
      

    /* ADS SECTION */
    .ads-section{
        flex-direction: row;
        justify-content: space-around;
        background-image:url(./images/ads/bck.png) ;
    }

    /*PROJECTS SECTION*/
    .projects {
        position: relative;
        width: 1440px;
        height: 1098px;
        background-color: #ffffff;
      }
      .projectssec {
        position: absolute;
        top: 87px;
        left: 130px;
        font-weight: bold;
        color: black;
        font-size: 30px;
        white-space: nowrap;
        
      }
      .menu-item {
        display: inline-flex;
        align-items: center;
        gap: 16px;
        position: absolute;
        top: 170px;
        left: 112px;
      }
      
      .rectangle-3 {
        position: relative;
        width: 4px;
        height: 28px;
        background-color: var(--primary);
      }
      
       .text-wrapper-18 {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: "Work Sans", Helvetica;
        font-weight: 700;
        color: var(--primary);
        font-size: 24px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .menu-item-2 {
        top: 218px;
        display: inline-flex;
        align-items: center;
        gap: 16px;
        position: absolute;
        left: 112px;
      }
    
      .rectangle-4 {
        position: relative;
        width: 4px;
        height: 28px;
      }
    
      .all {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: "Work Sans", Helvetica;
        font-weight: 500;
        color: var(--neutral-200);
        font-size: 17px;
        border-left: 5px solid transparent;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
        padding-left: 5px;
      }
      .all:hover{
        color: #2947A9;
        border-left: 5px solid #2947A9;
        /* padding-left: 5px; */
      }
      
     .menu-item-3 {
        top: 266px;
        display: inline-flex;
        align-items: center;
        gap: 16px;
        position: absolute;
        left: 112px;
      }
      
        .menu-item-4 {
        top: 314px;
        display: inline-flex;
        align-items: center;
        gap: 16px;
        position: absolute;
        left: 112px;
      }
      
    .project-card {
        display: flex;
        flex-direction: column;
        width: 384px;
        align-items: flex-start;
        /* position: absolute; */
        top: 170px;
        left: 528px;
        border-radius: 2px;
      }
      
    .img-2 {
        position: relative;
        align-self: stretch;
        width: 100%;
        height: 247px;
        object-fit: cover;
      }
      
     .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 12px;
        padding: 12px 12px 16px;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
        background-color:#2947A9;
        color: #F6F8F7;
      }
      
     .PJ-name {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: "Work Sans", Helvetica;
        font-weight: 700;
        color: var(--neutralwhite);
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
    .address {
        position: relative;
        width: fit-content;
        font-family: var(--body-default-font-family);
        font-weight: var(--body-default-font-weight);
        color: var(--neutralwhite);
        font-size: var(--body-default-font-size);
        letter-spacing: var(--body-default-letter-spacing);
        line-height: var(--body-default-line-height);
        white-space: nowrap;
        font-style: var(--body-default-font-style);
      }
      
     .project-card-2 {
        top: 533px;
        left: 528px;
        display: flex;
        flex-direction: column;
        width: 384px;
        align-items: flex-start;
        position: absolute;
        border-radius: 2px;
      }
      
     .project-card-3 {
        top: 170px;
        left: 944px;
        display: flex;
        flex-direction: column;
        width: 384px;
        align-items: flex-start;
        position: absolute;
        border-radius: 2px;
      }
    .project-card-4 {
        top: 533px;
        left: 944px;
        display: flex;
        flex-direction: column;
        width: 384px;
        align-items: flex-start;
        position: absolute;
        border-radius: 2px;
      }
      .navigation {
        display: flex;
        width: 800px;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 896px;
        left: 528px;
      }
      .navigation-dot-container{
        width: 30%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 .5rem;
      }
      .navigation-dot-container span{
        height: 40%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background: #aaa;
      }
      .navigation-dot-container span:first-child{
        background: #031850;
      }
    .backbutton,.nxtbutton{
        background-color:gray;
    height:50px;
    width:200px;
    cursor:pointer;
    color: white;
  border: none;}
    

    /* CTA SECTION BEGIN */
    .cta-section {
        height: 70vh;
        padding-top: 3rem;
    }
    .cta-section-form{
      max-width: 35rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr) 25vh;
        width: 50vw;
        display: grid !important;
    }
    .cta-section-form input {
        height: 5vh;
    }
    
    .cta-section-form #message {
        grid-row: 3/4;
        grid-column: 1/3;
    }
    .submitbutt{
        border-radius: 20px;
        color:#2947A9;
        margin-bottom: 50px;;
    }
    .doforu{
      margin-bottom: 30px;
    }

    #message{

      padding-bottom: 50px;
      margin-bottom: 20px;
    }
    /* BOTTOM SECTION */
    .bottom-section {
        flex-direction: row;
        justify-content: space-around;
        color: #2947A9;
    }
    .bottom-left {
        width: 40vw;
    }
    .bottom-left .bottom-logo {
        display: flex;
    }
    .bottom-logo h2 {
        padding-left: 10px;
        padding-top: 10px;
        color: #2947A9;
        cursor: pointer;
    }
    .bottom-right {
        width: 40vw;
    }
    .bottom-newsletter input {
        height: 40px;
        width: 20vw;
        font-size: 14px;
    }
    .bottom-social{
      cursor: pointer;
      margin-top: 1rem;
    }
}